body
{
	background-image: url('hatterkep.jpg');
	background-repeat: no-repeat;
	font-family: Rockwell;
	font-size: 20px;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

h1
{
	text-align: center;
	font-family: Algerian;
	color: white;
	font-size: 50px;
}

h2
{
	font-family: MV Boli;
	font-size: 40px;
	color: white;
}

table
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

td, th
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.card-title,
.card-text{
	color: black;
}

.card-text{
	font-size: 0.75em;
}

.tortenelem{
	text-align: justify;
}

.card-img-top{
	width:250px;
	height: 170px;
}

.bevezeto{
	text-align: justify;
}

h3{
	text-align: center;
}

.valutavalto{
	text-align: center;
}

#ora
{
    font-size:32px;
    width:350px;
    margin:auto;
    text-align:center;
    transition:1s;
}

.oraszoveg{
	font-size: 32px;
	text-align: center;
}
